<!-- css -->

<section>
  <form action="#" method="post">
    <div>
      <label for="select_carousel">대표 이미지 개수 선택</label>
      <select id="select_carousel">
        <option disabled value="0">선택하세요</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="carousel_container">
      <!-- <div>
        <label for="carousel_item1_title">이미지1의 타이틀</label>
        <input type="text" id="carousel_item1_title" class="carousel_title" required>
      </div>
      <div>
        <label for="carousel_item1_caption">이미지1의 내용</label>
        <textarea id="carousel_item1_caption" cols="30" rows="5" required class="carousel_caption"></textarea>
      </div> -->
    </div>
    <button id="button_carousel_submit" type="button">confirm</button>
  </form>
</section>