<!-- css -->
<link rel="stylesheet" href="/css/support-fund/fund_main.css">

<!-- 장려지원금 화면 -->
<section class="fund_section">
  <!-- 지원금 네비게이션 부분 -->
  <nav>
    <ul>
      <a href="#" class="current"><li>구분</li></a>
      <a href="#"><li>고용창출장려금</li></a>
      <a href="#"><li>고용안정장려금</li></a>
      <a href="#"><li>고용유지지원금</li></a>
    </ul>
  </nav>

  <!-- 지원금 컨탠츠 부분 -->
  <main class="fund_main"></main>
  <script>
    $('.fund_main').load('items/fund_item0.html');
  </script>
  
<!-- js -->
<script src="/js/support-fund/fund_main.js"></script>
</section>