<!-- css -->
<link rel="stylesheet" href="/css/support-fund/fund_header.css">

<!-- 지원금 header 부분 -->
<header id="support_header">
  <div>
    <h3>정부지원금 안내</h3>
    <span>사업장에 맞는 정부지원금을 찾아드립니다</span>
    <h6><a href="/view/support/contact.html" class="request_contact">상담신청</a></h6>
  </div>
  <div>
    <a href="#"><img class="header_img_logo" src="/images/common/header_logo.jpg" alt="로고"></a>
  </div>
  <a href="#support_header" class="header_icon_top hidden"><h6>▲</h6></a>
</header>

<!-- js -->
<script src="/js/support-fund/fund_header.js"></script>