<!-- css -->
<link rel="stylesheet" href="/css/common/footer_nav.css">

<div class="footer_nav_item_container">
  <div class="logoImg"><a href="http://www.moel.go.kr/" target="_sub"><img src="/images/common/moel.jpg" alt="고용노동부"></a></div>
  <div class="logoImg"><a href="http://www.nlrc.go.kr/" target="_sub"><img src="/images/common/nlrc.jpg" alt="중앙노동위원회"></a></div>
  <div class="logoImg"><a href="https://www.moleg.go.kr/" target="_sub"><img src="/images/common/moleg.jpg" alt="법제처"></a></div>
  <div class="logoImg"><a href="https://www.scourt.go.kr/" target="_sub"><img src="/images/common/scourt.jpg" alt="대법원"></a></div>
  <div class="logoImg"><a href="https://www.kcomwel.or.kr/" target="_sub"><img src="/images/common/kcomwel.jpg" alt="근로복지공단"></a></div>
</div>