<link rel="stylesheet" href="/css/common/header.css">
<div class="header_container" id="header">
  <!-- 로고 및 홈페이지 링크 -->
  <div class="header_logo">
    <a href="/index.html"><img src="/images/common/header_logo.jpg" alt="대일노무법인"></a>
  </div>
  <!-- header 네비게이션 -->
  <ul class="header_nav">
    <li class="nav_home"><a href="/index.html">홈으로</a></li>
    <li class="nav_introduce">
      <a href="#">회사소개<span class="arrow">▼</span></a>
      <ul class="hide nav_introduce_item_container">
        <li class="nav_introduce_item"><a href="/view/introduce/introduce.html">인사말</a></li>
        <li class="nav_introduce_item"><a href="/view/introduce/introduce.html?page=member">구성원</a></li>
        <li class="nav_introduce_item"><a href="/view/introduce/introduce.html?page=map">찾아오시는 길</a></li>
      </ul>
    </li>
    <li class="nav_field">
      <a href="#">업무분야<span class="arrow">▼</span></a>
      <ul class="hide nav_field_item_container">
        <li class="nav_field_item"><a href="/view/field/field.html">임금체불</a></li>
        <li class="nav_field_item"><a href="/view/field/field.html?page=bankrupcy">체당금</a></li>
        <li class="nav_field_item"><a href="/view/field/field.html?page=industrial_accident">산재보상</a></li>
        <li class="nav_field_item"><a href="/view/field/field.html?page=unfair_dismissal">부당해고</a></li>
        <li class="nav_field_item"><a href="/view/field/field.html?page=advice">인사노무자문</a></li>
        <li class="nav_field_item"><a href="/view/field/field.html?page=labor_union">노동조합/노사관계</a></li>
      </ul>
    </li>
    <li class="nav_contact">
      <a href="#">고객지원<span class="arrow">▼</span></a>
      <ul class="hide nav_support_item_container">
        <li class="nav_support_item"><a href="/view/support/support.html">자료실</a></li>
        <li class="nav_support_item"><a href="/view/support/contact.html">상담신청</a></li>
      </ul>
    </li>
  </ul>
  <!-- 상단 메뉴 아이콘 -->
  <a class="header_nav_icon"><i class="fas fa-bars"></i></a>
  <!-- top 아이콘 -->
  <a href="#header" class="header_icon_top hidden"><h6>▲</h6></a>
  <ul class="user_info hidden">
    <li>아이디(닉네임)</li>
    <li><button id="button_logout" type="button">로그아웃</button></li>
  </ul>
</div>

<!-- js -->
<script src="/js/common/header.js"></script>
<script src="/js/common/header_firebase.js"></script>