<section style="width: 100%;">
  <div class="not_ready">
    <div><h2>페이지 <span>준비중</span>입니다.</h2></div>
    <div><h5>잠시 후 <span>홈페이지</span>로 돌아갑니다.</h5></div>
  </div>
</section>
<style>
  .not_ready{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .not_ready h2{
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .not_ready span{
    color: rgb(66, 64, 180);
  }
</style>
<!-- <script>
  setTimeout(function() {
    location.href = 'http://d-labor.com';
  }, 3000);
</script> -->