@import "/css/common/reset.css";

/* 전체 화면 그리드 */
.grid_container{
  display: grid;
  width: 100%;
  /* height: 100%; */
  grid-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 100px 150px;
  align-content: space-evenly;
  background-color: var(--background-gray);
}
/* header 부분 */
.header{
  width: 100%;
  display: block;
  background-color: white;
  grid-row: 1/2;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.1);
}
/* 메인 콘텐츠 부분 */
.main{
  width: 100%;
  max-width: 1200px;
  justify-self: center;
  grid-row: 2/3;
  z-index: 0;
  margin-top: 5px;
  background-color: var(--background-gray);
}
/* 하단 nav(링크) 부분 */
.footer_nav{
  width: 100%;
  display: block;
  background-color: white;
  height: 100px;
  grid-row: 3/4;
}
/* footer 부분 */
.footer{
  width: 100%;
  display: block;
  min-height: 100px;
  grid-row: 4/6;
  background-color: var(--logo-color);
  color: var(--text-color-white);
}