@import "/css/common/reset.css";

.refuse_container{
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  line-height: 1.5rem;
}

.refuse_container > ul > li{
  padding: 5px;
  background-color: #fff;
}

.refuse_container > ul > h5{
  margin-bottom: 20px;
}

.refuse_container > ul > li > span{
  display: block;
}