<!-- css -->
<link rel="stylesheet" href="/css/common/nav.css">
<link rel="stylesheet" href="/css/introduce/greeting.css">
<link rel="stylesheet" href="/css/introduce/member.css">
<link rel="stylesheet" href="/css/introduce/map.css">

<nav class="navication">
  <ul class="nav_container">
    <a href="#" class="current"><li><h6>인사말</h6></li></a>
    <a href="#"><li><h6>구성원</h6></li></a>
    <a href="#"><li><h6>찾아오시는 길</h6></li></a>
  </ul>
</nav>

<section class="contents greetings introduce_section_container hidden">
  <div class="greeting_container">
    <div class="greeting_img">
      <img src="/images/index/slide3.jpg" alt="인사말 사진">
    </div>
    <ul class="greeting">
      <li>
        <h3>21세기 新노사문화<br>
        대일노무법인이 앞장서겠습니다.</h3>
      </li>
      <li>
        <h4>대일노무법인의 비전</h4>
      </li>
      <li>
        <h5>대일노무법인은</h5>
        <span>&nbsp;&nbsp;인사노무자문, 노동법률, 급여관리 및 4대보험 아웃소싱, 노사관계 컨설팅에 대한 풍부한 경험과 전문적 역량을 가진 공인노무사와 인사컨설턴트를 중심으로 구성되어 있습니다.</span>
      </li>
      <li>
        <h5>대일노무법인은</h5>
        <span>&nbsp;&nbsp;기억의 효율적인 인사노무관리에 도움이 될 수 있는 방안을 폭넓게 제시하고, 새로운 법 제도 도입에 따른 법률적 검토는 물론, 보다 신속한 정보와 창의적인 아이디어를 제공함으로써 귀사의 합리적이고 선진적인 노사관계 형성에 기여하는 든든한 동반자가 될 것입니다.</span>
      </li>
      <li>
        <h5>대일노무법인이</h5>
        <span>&nbsp;&nbsp;제공하는 최고의 서비스를 이용하게 되면서, 인사노무 분야의 관리 담당자가 없는 경우에도 공인노무사의 전문적인 조력을 받을 수 있을 뿐 아니라, 해당 전문인력을 채용하는데 따른 추가적인 비용 부담을 줄일 수 있으며, 임금체불, 산재보상, 부당해고, 부당노동행위 등 각종 노동사건이 발생하는 경우에도, 대일노무법인의 사건 전문 공인노무사가 귀사의 대리인으로서 원만히 해결해 드릴 것을 약속합니다.</span>
      </li>
      <li>
        <div class="greeting_sign">
          <h5>대일노무법인 대표<br>손강용</h5>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="member introduce_section_container hidden">
  <div class="not_ready">
    <div><h2>페이지 <span>준비중</span>입니다.</h2></div>
  </div>

  <style>
    .not_ready{
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .not_ready h2{
      font-size: 3rem;
      margin-bottom: 20px;
    }
    .not_ready span{
      color: rgb(66, 64, 180);
    }
  </style>
</section>

<section class="map introduce_section_container hidden">
  <ul class="map_container">
    <li>
      <ul class="map_describe">
        <li>
          <h4><i class="fas fa-map-marker-alt"></i></h4>
          <div class="map_describe_addres">
            <span>서울 영등포구 당산로 133&nbsp;</span>
            <span>서림빌딩 301호</span>
          </div>
        </li>
        <li>
          <h4><i class="fas fa-phone-alt"></i></h4>
          <span>02-507-6161</span>
        </li>
        <li>
          <h4><i class="fas fa-envelope"></i></h4>
          <span>sky@d-labor.com</span>
        </li>
        <li>
          <h4><i class="fas fa-bus"></i></h4>
          <div class="bus">
            <span class="blue_bus">660</span>
            <span class="green_bus">5612&nbsp;5620&nbsp;6631&nbsp;6637&nbsp;6650</span>
          </div>
        </li>
        <li>
          <h4><i class="fas fa-subway"></i></h4>
          <span><span class="sub_2">2</span>/<span class="sub_5">5</span>호선 영등포구청역 3번 출구</span>
        </li>
      </ul>
    </li>
    <li>
      <!-- 구글지도 -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.1955984112956!2d126.89436561558763!3d37.526886234155064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9ee933f581e3%3A0xc25d9e375ea21fb1!2z64yA7J2864W466y067KV7J24!5e0!3m2!1sko!2skr!4v1610586907233!5m2!1sko!2skr" width="450" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </li>
  </ul>
</section>

<!-- script -->
<script src="/js/introduce/introduce_main.js"></script>
<script>closeModalWindow();</script>