<!-- css -->
<link rel="stylesheet" href="/css/support-fund/items/fund_item_default.css">
<link rel="stylesheet" href="/css/common/table.css">
<link rel="stylesheet" href="/css/support-fund/items/fund_item1.css">

<!-- 고용창출장려금 페이지-->
<div id="job_creation_fund">
  <!-- 장려금의 간략한 설명 부분 -->
  <div class="fund_context">
    <ul>
      <h5>고용창출장려금</h5>
      <li>
        <span>통상적 조건 하에 취업이 어려운 취약계층을 고용하거나 교대제 개편, 실근로시간 단축, 시간선택제 일자리 도입 등 근무형태를 변경하여 고용기회를 확대한 사업주를 지원</span>
      </li>
      <li>
        <span>사전에 사업참여신청서 및 사업계획서를 제출받아 고용센터 심사위원회의 심사를 거쳐 선정된 기업에 한하여 예산의 범위 내에서 지원<br>
          단, 고용촉진장려금은 사업 참여 신청이 필요 없이 지급 요건을 갖추어 장려금 지급 신청서를 제출하면 지원</span>
      </li>
    </ul>
  </div>

  <!-- 장려금 별 종류 -->
  <div class="fund_nav">
    <ul>
      <a href="#" class="current"><li>청년추가고용 지원금</li></a>
      <a href="#"><li>신중년 적합직무 지원금</li></a>
    </ul>
  </div>

  <!-- 장려금 별 내용 -->
  <!-- 청년추가고용 -->
  <div class="fund_contents">
    <ul>
      <h5>개요</h5>
      <li>
        <span>청년을 정규직으로 추가로 고용한 중소・중견기업에 인건비를 지원함으로써, 양질의 청년일자리 창출</span>
      </li>
      <h5>지원대상</h5>
      <li>
        <span>청년(만15세 이상 34세 이하)을 정규직으로 신규 채용한 5인 이상 중소‧중견기업(성장유망업종, 벤처기업 등은 5인 미만도 가능)
          <span>* 단, 사행‧유흥업 등 일부 업종은 지원제외</span>
        </span>
      </li>
      <h5>지원요건</h5>
      <li>
        <span>① (청년 정규직 신규채용) 기업 규모*에 따라 다음과 같이 청년을 정규직으로 신규 채용하여야 함
          <table>
            <thead>
              <tr>
                <th>기업 규모</th>
                <th>청년 신규채용</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>30인 미만</th>
                <td>1명 이상</td>
              </tr>
              <tr>
                <th>30인∼99인</th>
                <td>2명 이상</td>
              </tr>
              <tr>
                <th>100인 이상</th>
                <td>3명 이상</td>
              </tr>
            </tbody>
          </table>
          <span>* 기업규모는 전년 연평균 기준 고용보험 피보험자수(‘20년 고용보험 신규성립 기업의 경우에는 보험관계성립일이 속한 달의 말일 기준 피보험자수)</span>
          ② (6개월 이상 고용유지) 신규 채용 청년은 6개월* 이상 고용이 유지되어야 함
          <span>* 최소고용유지기간 6개월은 채용일이 속한 달을 포함하여 역월단위로 산정</span>
          ③ (근로자수 증가) ‘기업규모별 청년 최저고용 요건’ 이상 청년을 추가 채용하여, 전년 연평균 피보험자수(20년 신규성립기업의 경우 성립일이 속한 달의 말일 피보험자수) 보다 기업 전체 근로자수(피보험자수)가 증가해야 함<br>
          ④ (신청기한) 청년을 채용하고 최소고용유지기간(6개월) 종료 후 3개월 이내 장려금을 신청하여야 함
          <span>* 다만, ‘20.1월부터 6월까지 청년을 신규 채용한 기업은 ’21.3월까지 신청가능</span>
        </span>
      </li>
      <h5>지원수준 및 지원한도</h5>
      <li>
        <span>• (지원수준) 청년 추가채용 1명당 연 최대 900만원을 3년간 지원하되, 기업 규모별 지원인원을 차등화*
          <span>* 30인 미만 기업은 1번째 채용 청년, 30~99인 기업은 2번째 채용 청년, 100인 이상은 3번째 채용 청년부터 지원</span>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>1명 고용</th>
                <th>2명 고용</th>
                <th>3명 고용</th>
                <th>4명 고용</th>
                <th>...........</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>30인 미만</th>
                <td>900 만원</td>
                <td>1,800 만원</td>
                <td>2,700 만원</td>
                <td>3,600 만원</td>
                <td>...........</td>
              </tr>
              <tr>
                <th>30인∼99인</th>
                <td>x</td>
                <td>900 만원</td>
                <td>1,800 만원</td>
                <td>2,700 만원</td>
                <td>...........</td>
              </tr>
              <tr>
                <th>100인 이상</th>
                <td>x</td>
                <td>x</td>
                <td>900 만원</td>
                <td>1,800 만원</td>
                <td>...........</td>
              </tr>
            </tbody>
          </table>
          • (지원한도) 기업당 최대 30명까지
        </span>
      </li>
      <h5>신청주기</h5>
      <li>
        <span>• (신청주기) 기존 채용 청년의 경우, 3개월 이상 단위로 신청
          <span>* 다만, 신규 채용 청년의 경우 최소 고용유지기간(6개월) 종료 후 3개월 이내 신청(사업주는 6개월분 이상 단위로 신청서 작성)</span>
        </span>
      </li>
    </ul>
  </div>
  <!-- 신중년 적합직무 -->
  <div class="fund_contents hidden">
    <ul>
      <h5>개요</h5>
      <li>
        <span>• 만 50세 이상의 실업자를 신중년 적합직무에 채용한 사업주에게 인건비를 지원하여 신중년의 고용 창출 촉진</span>
      </li>
      <h5>지원대상</h5>
      <li>
        <span>• 우선지원 대상기업 및 중견기업
          <span>※지원 제외 : 국가, 지방자치단체, 공공기관, 임금체불로 명단이 공개중인 사업주</span>
        </span>
      </li>
      <h5>지원요건</h5>
      <li>
        <span>• 근로자 채용 전 참여신청서를 관할 고용센터에 제출하여 사업 승인 후 채용</span>
        <span>• 만 50세 이상의 실업자를 아래 신중년 적합직무에 채용하여 3개월 이상 고용 유지</span>
        <span>• 근로조건
          <span>- 최저임금액 이상의 임금 지급</span>
          <span>- 1개월 소정근로시간 60시간 이상</span>
          <span>- 4대보험 가입</span>
          <span>- 근로계약기간의 정함이 없는 근로자(단, 만 55세 이상의 근로자와 2년을 초과한 근로계약을 체결하는 경우는 예외적으로 인정</span>
        </span>
        <span>• 지원 제외 근로자
          <span>- 비상근촉탁근로자, 다만 주 근로시간 단축으로 지원받는 노선여객자동차운송 사업자가 정년 퇴직자를 촉탁직 근로자로 근로계약 기간을 1년이상으로 정하여 고용한 경우는 제외</span>
          <span>- 사업주의 배우자, 직계 존·비속, 4촌 이내의 혈족 및 인척(배우자의 4촌 이내 혈족 포함)</span>
          <span>- 고용 후 정년까지의 기간이 2년 미만인 근로자, 다만 여객자동차운수사업법의 노선여객자동차운송사업의 경우는 제외</span>
          <span>- 대한민국 국적을 보유하지 않은 외국인, 다만 거주(F-2), 영주(F-5), 결혼이민자(F-6)은 가능</span>
          <span>※ 상세내용은 고용창출장려금·고용안정장려금 신청 및 지급에 관한 규정 참고</span>
        </span>
      </li>
      <h5>지원수준 및 한도</h5>
      <li>
        <span>• (지원수준) 신규 고용한 근로자 수 1인당 월 40~80만원 지원
          <table>
            <thead>
              <tr>
                <th>구분</th>
                <th>회차별 지원액(3개월 단위)</th>
                <th>연간총액</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>우선지원 대상기업</th>
                <td>240 만원</td>
                <td>960 만원</td>
              </tr>
              <tr>
                <th>중견기업</th>
                <td>120 만원</td>
                <td>480 만원</td>
              </tr>
            </tbody>
          </table>
          <span>※ 사업주가 지급한 임금의 80% 한도로 지원</span>
        </span>
        <span>• (지원한도) 직전 보험연도 말일 기준 피보험자 수의 100분의 30 (소수점 이하는 버림)
          <span>*단, 피보험자수가 10명 이하인 경우 3명 한도</span>
        </span>
      </li>
      <li>
        <h5>지급주기 및 기간</h5>
        <span>• 고용한 날이 속하는 다음달부터 1년간 매 3개월 단위로 지급
          <span>※ 월할 계산하지 않음</span>
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- js -->
<script src="/js/support-fund/items/fund_item_default.js"></script>