<!-- css -->
<link rel="stylesheet" href="/css/support-fund/items/fund_item_default.css">
<link rel="stylesheet" href="/css/common/table.css">
<link rel="stylesheet" href="/css/support-fund/items/fund_item2.css">

<!-- 고용안정장려금 페이지-->
<div id="employment_stability_fund">
  <!-- 장려금의 간략한 설명 부분 -->
  <div class="fund_context">
    <ul>
      <h5>고용안정장려금</h5>
      <li>
        <span>학업, 육아, 간병 등 생애주기별로 고용불안이 가속될 때 근로시간 단축, 근로형태 유연화 등을 도입하여 근로자의 계속고용을 지원하거나 기간제 근로자 등을 정규직으로 전환하는 사업주를 지원하여 기존 근로자의 고용안정과 일자리 질 향상을 도모</span>
      </li>
      <li>
        <span>사전에 사업참여신청서 및 사업계획서를 제출받아 고용센터 심사위원회의 심사를 거쳐 선정된 기업에 한하여 예산의 범위 내에서 지원</span>
      </li>
    </ul>
  </div>

  <!-- 장려금 별 종류 -->
  <div class="fund_nav">
    <ul>
      <a href="#" class="current"><li>유연근무제 지원금</li></a>
    </ul>
  </div>

  <!-- 장려금 별 내용 -->
  <!-- 유연근무제 -->
  <div class="fund_contents">
    <ul>
      <h5>지원대상</h5>
      <li>
        <span>• 우선지원대상기업, 중견기업
          <span>※ 지원 제외: 국가, 지자체, 공공기관, 「중소기업인력지원 특별법 시행령」제2조에서 정한 업종, 임금체불로 명단이 공개중인 사업주</span>
        </span>
      </li>
      <h5>지원요건</h5>
      <li>
        <span>• (제도 활용) 아래의 어느 하나에 해당하는 유연근무제도를 소속 근로자의 필요에 따라 활용
          <table class="align">
            <h6 class="title">유연근무제 유형</h6>
            <thead>
              <tr>
                <th style="width: 20%;">유형</th>
                <th>비고</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>시차출퇴근제</th>
                <td>기존의 소정근로시간을 준수하면서 출퇴근시간을 조정하는 제도</td>
              </tr>
              <tr>
                <th>선택근무제</th>
                <td>1개월 이내의 정산기간을 평균하여 1주 소정근로시간이 40시간을 초과하지 않는 범위에서 1주 또는 1일 근무시간을 조정하는 제도</td>
              </tr>
              <tr>
                <th>재택근무제</th>
                <td>근로자가 정보통신기기 등을 활용하여 주거지에 업무공간을 마련하여 근무하는 제도</td>
              </tr>
              <tr>
                <th>원격근무제</th>
                <td>주거지, 출장지 등과 인접한 원격근무용 사무실에서 근무하거나 사무실이 아닌 장소에서 모바일 기기를 이용하여 근무하는 제도</td>
              </tr>
            </tbody>
          </table>
          • (제도 도입) 근로계약서, 취업규칙 등에 제도 도입내용을 규정할 것
          <span>※ 선택근무제의 경우, 근로기준법 제52조 각호 내용이 명시된 근로자대표와의 서면합의서 필요</span>
          • (근로조건) 소정근로시간이 주 35시간 이상 40시간 이하일 것(선택근무제는 정산기간을 평균함)
          <span>※ 시차출퇴근제의 경우, 통상 근로시간에서 최소 30분 이상 변경하여야 함</span>
          • (연장근로) 유연근무제 활용 근로자가 연장근로를 할 경우, 아래와 같이 동 제도를 활용하지 않은 것으로 간주함
          <table class="align">
            <thead>
              <tr>
                <th style="width: 20%;">유형</th>
                <th>장려금 산정 기준</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>시차출퇴근제<br>재택･원격근무제</th>
                <td>제도활용일에 연장근로를 한 경우 그 해당일에 대해 동 제도를 활용하지 않은 것으로 산정</td>
              </tr>
              <tr>
                <th>선택근무제</th>
                <td>- 정산기간을 평균하여 주당 연장근로시간이 12시간을 초과하는 경우 해당 정산기간 전체에 대해 동 제도를 활용하지 않은 것으로 산정<br>
                  - 정산기간을 평균하여, ①최소 주당 1일 소정근로시간 2시간 이상 단축 또는 ②최소 주당 2일 소정근로시간 각 30분 이상 단축하여 근무하여야 하고, 이를 준수하지 않을 경우 해당 정산기간 전체에 대해 동 제도를 활용하지 않은 것으로 산정
                </td>
              </tr>
            </tbody>
          </table>
          • (근태관리) 전자카드, 지문인식, 타임레코드, 그룹웨어 등 전자·기계적 방식으로 장려금 대상 근로자의 출퇴근시간 관리
        </span>
      </li>
      <h5>지원수준 및 지원한도</h5>
      <li>
        <span>• (지원 수준) 활용근로자당 연 최대 520만원 지원
          <table>
            <thead>
              <tr>
                <th rowspan="2" style="width: 20%;">기준</th>
                <th colspan="2">연간총액</th>
                <th colspan="2">1주당 지급액</th>
              </tr>
              <tr>
                <th>주3회 이상</th>
                <th>주1~2회</th>
                <th>주3회 이상</th>
                <th>주1~2회</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>지원금액</th>
                <td>520 만원</td>
                <td>260 만원</td>
                <td>10 만원</td>
                <td>5 만원</td>
              </tr>
            </tbody>
          </table>
          <span>※ 단, 선택근무제는 활용횟수 산정없이 활용근로자 1인당 1주에 10만원 지원</span>
          • (지원 인원 한도) 사업참여신청서를 제출한 날이 속한 달의 직전년도 말일 기준 피보험자수의 30% 한도로 하되, 70명(시차출퇴근제는 50명)을 초과할 수 없음
        </span>
      </li>
      <h5>지급기간 및 주기</h5>
      <li>
        <span>• 실제 활용한 기간에 따라 1년의 범위 내에서 지원<br>
          • 주당 활용 횟수에 따라 주 단위로 계산
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- js -->
<script src="/js/support-fund/items/fund_item_default.js"></script>