<!-- css -->
<link rel="stylesheet" href="/css/support-fund/items/fund_item0.css">
<link rel="stylesheet" href="/css/common/table.css">

<!-- 정부지원금 구분 페이지 -->
<div id="target">
  <div class="target">
    <h5>신규근로자 채용 지원</h5>
    <div class="target_contents_container">
      <a href="?item=1">
        <div class="target_contents">
          <h6>고용창출장려금<span>바로가기 ></span></h6>
          <ul>
            <li>
              <span>통상적 조건 하에 취업이 어려운 취약계층을 고용하거나 교대제 개편, 실근로시간 단축, 시간선택제 일자리 도입 등 근무형태를 변경하여 고용기회를 확대한 사업주를 지원</span>
            </li>
            <li>
              <span>청년추가고용장려금, 신중년 적합직무 장려금 등</span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>

  <div class="target">
    <h5>근로자의 안정적 근무 지원</h5>
    <div class="target_contents_container">
      <a href="?item=2">
        <div class="target_contents">
          <h6>고용안정장려금<span>바로가기 ></span></h6>
          <ul>
            <li>
              <span>사업주의 재직근로자의 일자리 질 향상 노력에 대해 지원</span>
            </li>
            <li>
              <span>일가정양립환경개선(유연근무제 지원금) 등</span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>

  <div class="target">
    <h5>경영위기에 대한 고용유지 지원</h5>
    <div class="target_contents_container">
      <a href="?item=3">
        <div class="target_contents">
          <h6>고용유지지원금<span>바로가기 ></span></h6>
          <ul>
            <li>
              <span>기업 사정이 어려우나 감원 없이 휴업, 휴직 훈련 등을 활용시 사업주를 지원<br>고용유지지원금</span>
            </li>
            <li>
              <span>기업 사정이 어려워 휴업ㆍ휴직 수당을 못주거나 50%미만으로 지급시 근로자를 지원<br>무급 휴업ㆍ휴직 근로자 지원</span>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>

<script src="/js/support-fund/items/fund_item0.js"></script>