<!-- css -->
<link rel="stylesheet" href="/css/support-fund/items/fund_item_default.css">
<link rel="stylesheet" href="/css/common/table.css">
<link rel="stylesheet" href="/css/support-fund/items/fund_item3.css">

<!-- 고용안정장려금 페이지-->
<div id="employment_stability_fund">
  <!-- 장려금의 간략한 설명 부분 -->
  <div class="fund_context">
    <ul>
      <h5>고용유지지원금</h5>
      <li>
        <span>경기의 변동, 산업구조의 변화 등으로 생산량·매출액이 감소하거나 재고량이 증가하는 등의 고용조정이 불가피하게 된 사업주가 근로자를 감원하지 않고 근로시간 조정, 교대제 개편, 휴업, 휴직과 같은 고용유지조치를 실시하고 고용을 유지하는 경우 임금(수당)을 지원하여 사업주의 경영 부담을 완화하고 근로자의 실직을 예방</span>
      </li>
    </ul>
  </div>

  <!-- 장려금 별 종류 -->
  <div class="fund_nav">
    <ul>
      <a href="#" class="current"><li>고용유지(휴업)</li></a>
      <a href="#"><li>고용유지(휴직)</li></a>
      <a href="#"><li>고용유지(무급휴업휴직)</li></a>
    </ul>
  </div>

  <!-- 장려금 별 내용 -->
  <!-- 고용유지(휴업) -->
  <div class="fund_contents">
    <ul>
      <h5>개요</h5>
      <li>
        <span>• 휴업이라 함은 경기변동, 산업구조의 변화 등에 신축적으로 댕응하기 위하여 근로자와 고용계약관계를 유지하면서 일정기간 근로의무를 면제하는 고용유지조치<br>
          • 기업 전체가 휴업하는 경우 뿐만 아니라 근로시간 조정, 교대제 개편 등을 통해 총 근로시간의 20/100을 초과하여 근로시간을 단축하는 경우 지원
        </span>
      </li>
      <h5>지원요건</h5>
      <li>
        <span>• 근로시간 조정, 교대제 개편, 휴업 등으로 역(歷)월에 의한 1개월의 단위 기간 동안 당해 사업장의 총근로시간*의 20/100을 초과하여 근로시간을 단축하는 조치를 행하고, 당해 고용유지조치기간에 대해 휴업수당 등을 지급
          <span>* 총 근로시간: 고용유지조치를 시작한 날이 속한 달의 전체 피보험자의 소정근로시간의 합계 단, 「근로기준법」제35조에 따른 연장근로가 반복적으로 이루어진 경우 고용유지조치를 시작한 날이 속한 달의 직전 3개월부터 직전 1개월까지의 전체 피보험자 근로시간의 합계를 월평균한 것을 총 근로시간으로 봄</span>
        </span>
      </li>
      <h5>산정예시</h5>
      <li>
        <span>• ’21년 6월의 총 피보험자수 50명인 S기업이 고용유지계획서를 신고한 경우 총근로시간 산정
          <span>- 고용유지계획서 신고: ’21.5.31(고용유지조치 실시 전날까지 제출 필요)<br>
            - 고용유지조치기간(휴업 또는 근로시간 조정): ’21.6.1. ~ 6.30.(1개월)<br>
            - 기준기간: ’21.3.1. ~ ’21.5.31.</span>
          <br>
          • 기준기간 총근로시간: 9,533시간((9,900h+9,900h+7,600h)/3개월)
          <table>
            <thead>
              <tr>
                <th rowspan="2">구분</th>
                <th colspan="3">기준기간(직전 3월 ~ 1월)</th>
                <th>고용조치 월</th>
              </tr>
              <tr>
                <th>21년 3월</th>
                <th>21년 4월</th>
                <th>21년 5월</th>
                <th>21년 6월</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>총근로시간</th>
                <td>9,900 h</td>
                <td>9,900 h</td>
                <td>7,600 h</td>
                <td>3,680 h</td>
              </tr>
              <tr>
                <th>소정근로 시간(1일8H)</th>
                <td>8,800 h<br>(8h*50명*22일)</td>
                <td>8,800 h<br>(8h*50*22)</td>
                <td>7,600 h<br>(8h*50*19)</td>
                <td></td>
              </tr>
              <tr>
                <th>초과근로시간*</th>
                <td>1,100 h<br>(1일 1h*50*22)</td>
                <td>1,100 h<br>(1일 1h*50*22)</td>
                <td>-</td>
                <td>0h</td>
              </tr>
              <tr>
                <th>피보험자수</th>
                <td>50 명</td>
                <td>50 명</td>
                <td>50 명</td>
                <td>50 명</td>
              </tr>
              <tr>
                <th>소정근로일수</th>
                <td>22 일</td>
                <td>22 일</td>
                <td>19 일</td>
                <td>22 일</td>
              </tr>
            </tbody>
          </table>
          <br>
          <span>* 이전까지 초과근로가 반복ㆍ정형화된 경우에 한하여 초과근로시간을 포함하여 산정</span>
          • 고용유지조치기간('21년 6월) 총근로시간: 3,680h(소정근로일 22일)
          <span>① ’21. 6. 1 ~ 6. 11(소정근로일 9일): 근로자 20명에 대하여 1일 4시간 휴업 → 2,880h = (9일×20명×4h) + (9일×30명×8h)<br>
            ② ’21. 6. 14 ~ 6. 18(소정근로일 5일): 근로자 30명 1일 8시간 휴업 → 800h = (5일×20명×8h) + (5일×30명×*0h)<br>
            ③ ’21. 6. 21 ~ 6. 30(소정근로일 8일): 근로자 50명 1일 8시간 휴업 → 0h = 8일×50명×0h</span>
          <br>
          • 6월 중 근로시간 감소: 5,853h = 9,533h-3,680h
        </span>
      </li>
      <h5>지원금액 및 지급기간</h5>
      <li>
        <span>• 사업주가 휴업기간에 대하여 근로자에게 지급한 휴업수당의 2/3(대규모 기업1/2)를 지원 (1일 한도 6.6만원)
          <span>※ 단, 대규모기업이 근로시간 단축률 50% 이상인 경우 2/3 지원<br>
            이때, 사용자는 사용자 귀책사유(경영상 이유 등)에 의해 휴업을 실시하는 것이므로 근로기준법 제46조의 규정에 의하여 평균임금의 70/100 이상의 휴업수당을 당해 근로자에게 지급하며, 다만, 평균임금의 70/100에 상당하는 금액이 통상임금을 초과하는 경우에는 통상 임금을 휴업수당으로 지급할 수 있음.</span>
          • 휴업·휴직의 고용유지조치일수를 합하여 당해 보험연도의 기간(1년) 중에 180일을 한도로 지원 
          <span>※ 둘 이상의 고용유지조치를 중복하여 실시한 날에 대해서도 1일로 산정</span>
        </span>
      </li>
    </ul>
  </div>

  <!-- 고용유지(휴직) -->
  <div class="fund_contents hidden">
    <ul>
      <h5>개요</h5>
      <li>
        <span>휴직은 고용조정이 불가피하게 된 사업주에 소속된 근로자가 해당 사업장 근로자로서의 지위는 그대로 유지하면서 일정한 기간 그 근로자의 직무상 보직이 정지되어 근로자의 근로제공 의무가 면제되는 것을 말함.</span>
      </li>
      <h5>지원요건</h5>
      <li>
        <span>• 고용유지조치 대상자에게 1개월 이상의 유급 휴직을 실시하는 경우 유급 휴직 중 당해 회사의 퇴직조치가 되지 않은 상태에서 다른 회사에 취업하는 경우에는 지급대상에서 제외</span>
      </li>
      <h5>지원금액 및 지급기간</h5>
      <li>
        <span>• 휴직수당(유급) 지원금
          <span>① 사업주가 휴직기간에 대하여 근로자에게 지급한 휴직수당의 2/3(대규모기업1/2)를 지원(1일 한도 6.6만원)
            <span>※ 단, 대규모기업이 근로시간 단축률 50% 이상인 경우 2/3 지원</span>
            ② 휴업·훈련·휴직의 고용유지지원일수를 합하여 당해 보험연도(1년)중에 180일을 한도로 지원
            <span>※ 둘 이상의 고용유지 조치를 중복하여 실시한 날에 대해서도 1일로 산정</span>
          </span>
        </span>
      </li>
    </ul>
  </div>

  <!-- 고용유지(무급휴업휴직) -->
  <div class="fund_contents hidden">
    <ul>
      <h5>개요</h5>
      <li>
        <span>경기의 변동·산업구조의 변화 등으로 고용조정이 불가피한 사업주가 고용유지조치의 수단으로 무급의 휴업 또는 휴직을 실시하는 경우 무급휴업·휴직 기간 중 근로자에게 고용유지지원금을 지원함으로서 근로자 실직을 예방하고 생계안정 유지</span>
      </li>
      <h5>지원대상</h5>
      <li>
        <span>• 고용조정이 불가피한 사업주가 법에 따른 무급휴업·휴직을 실시하는 경우에도 심사위원회 심사를 거쳐 무급휴업·휴직 필요성, 근로자 복귀가능성, 직업능력 향상 계획 등을 심사하여 지원 대상을 결정하여 지원</span>
      </li>
      <h5>지원절차</h5>
      <li>
        <span>• 무급 등 고용유지조치계획서 제출(사업주)<br>
          • 사업계획서 접수(청·지청)<br>
          • 사실관계 조사보고서 작성(청·지청)<br>
          • 계획서 및 조사보고사 송부(심사위원회)<br>
          • 심사위원회 개최(심사위원회)<br>
          • 심의결과 통보(청·지청)<br>
          • 무급 등 고용유지조치계획 승인 또는 불승인 통보(사업주)
          <span>※ 고용유지계획 수립 : 노사협의(합의) 내용, 대상자 선정기준, 근로자 직업능력 개발·향상 프로그램, 업무복귀 계획 등<br>
            ※ 신청서 제출 : 고용유지조치 30일전 까지 관할 지방관서 제출 ▶ 심사위원회 심의 ▶ 승인결과 통보
          </span>
          <br>
          <table class="align">
            <h6 class="title">[① 고용조정이 불가피하게 된 사업주]</h6>
            <tbody>
              <tr>
                <th style="width: 25%;">재고량</th>
                <td>기준달 말일 재고량이 50% 이상 증가(직전 년도 평균 대비)</td>
              </tr>
              <tr>
                <th>생산량</th>
                <td>기준달의 생산량이 30% 이상 감소(직전 3개월 평균, 직전 년도 같은 달, 직전 년도 월 평균 대비)</td>
              </tr>
              <tr>
                <th>매출액</th>
                <td>기준달의 매물액이 30% 이상 감소(직전 3개월 평균, 직전 년도 같은 달, 직전 년도 월 평균 대비)</td>
              </tr>
              <tr>
                <th>재고량, 매출액 추이</th>
                <td>기준달의 재고량이 계속 20% 이상 증가 추세 또는 기준달의 매출액이 계속 20% 이상 감소 추세(직전 2분기 월 평균 대비)</td>
              </tr>
              <tr>
                <th>기타</th>
                <td>해당업종, 지역 경제 상황의 악화 등을 고려하여 고용조정이 불가피하다고 직업안정기관의 장이 인정한 경우</td>
              </tr>
            </tbody>
          </table>
          <br>
          <table class="align">
            <h6 class="title">[② 다음의 무급휴업·무급휴직 요건을 갖추어야 함]</h6>
            <tbody>
              <tr>
                <th style="width: 25%;">무급휴업</th>
                <td>• 기간 : 30일 이상 실시하여야 함.<br>
                  • 대상자 : 피보험자 수가 다음의 피보험자 수 이상 참여하여야 함.<br>
                  &nbsp;&nbsp;- 19명 이하 : 50%<br>
                  &nbsp;&nbsp;- 99명 이하 : 10명 이상<br>
                  &nbsp;&nbsp;- 100명 이상 999명 이하 : 10%<br>
                  &nbsp;&nbsp;- 1000명 이상 : 100명 이상<br>
                  • 무급 또는 평균임금 무급 또는 평균임금 50% 미만의 휴업수당을 지급하여야 함.<br>
                  &nbsp;&nbsp;※ 근로기준법 제46조에 따라 노동위원회 승인 필요
                </td>
              </tr>
              <tr>
                <th>무급휴직</th>
                <td>	• 기간 : 30일 이상 실시하셔야 함.<br>
                  • 대상자 : 피보험자 수가 다음의 피보험자 수 이상 참여하여야 함.<br>
                  &nbsp;&nbsp;- 99명 이하 : 10명 이상<br>
                  &nbsp;&nbsp;- 100명 이상 999명 이하 : 10%<br>
                  &nbsp;&nbsp;- 1000명 이상 : 100명 이상<br>
                  &nbsp;&nbsp;&nbsp;* 단, 고용위기 시 해당보험연도의 기간 중에 유급 고용유지지원금 지원기간(180일)을 소진한 10인미만 사업장은 1명이상에 대하여 무급휴직 허용(‘22년까지)<br>
                  • 휴직 전 1년이내에 3개월 이상 휴업 또는 피보험자의 20%이상이 휴직을 사전 실시 (특별고용업종 및 고용위기지역은 1개월 이상)<br>
                  • 근로자대표와의 합의에 따라 임금 또는 휴직수당을 지급하지 않아야 함.
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </li>
      <h5>고용유지계획서 반려대상</h5>
      <li>
        <span>• 고용보험법이 정한 요건에 맞지 않는 경우<br>
          • 3년 이상 계속하여 같은 달에 고용유지를 실시하는 경우<br>
          • 임금체불이 있는 경우<br>
          • 고용보험료를 체납한 경우<br>
        </span>
      </li>
      <h5>지원금 결정</h5>
      <li>
        <span>• 심사위원회가 근로자 평균임금 50%(1일 6.6만원)범위 내에서 지원금 결정(최대 180일 한도 지원)<br>
          • 「사업주가 근로자 직업능력·향상 프로그램을 실시하는 경우 근로자 1인당 매월 10만원 지원(사업주 지원금)
        </span>
      </li>
      <h5>고용유지실시 및 지원금 지급</h5>
      <li>
        <span>• 사업주는 제출한 계획서 및 승인결과에 따라 고용유지조치를 실시하여야 함<br>
          • 고용유지계획서 승인이후 불가피한 사유로 변경할 사유가 발생한 경우 변경예정일 10일 전까지 변경 요청하여야 함<br>
          • 사업주가 1개월 단위로 지원금 신청(지원금 대상자 명단, 통장사본 등 제출)
        </span>
      </li>
    </ul>
  </div>
</div>

<!-- js -->
<script src="/js/support-fund/items/fund_item_default.js"></script>