.admin_contents_container{
  width: 800px;
  height: auto;
  min-height: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.admin_contents_container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 200px;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.admin_contents_container > form > div {
  padding: 0 10px;
}
.admin_contents_container > form > div > div{
  display: flex;
  margin-bottom: 5px;
}
.admin_contents_container > form > div > div > label{
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.admin_contents_container > form > div > div > input{
  width: 80%;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
#login_submit{
  align-self: center;
  font-weight: 700;
  font-size: 1rem;
  color: var(--logo-color);
  padding: 5px 15px;
}