<!-- css -->

<section>
  <form id="member_form" action="#" method="POST">
    <div>
      <label for="member_job">직무</label>
      <input type="text" id="member_job" required>
    </div>
    <div>
      <label for="member_name">이름</label>
      <input type="text" id="member_name" required>
    </div>
    <div>
      <h5>전문분야</h5>
      <ul class="member_field">
        <li>
          <label for="member_field1">전문분야1</label>
          <input type="text" id="member_field1" required>
          <button type="button" class="member_field1_del">삭제</button>
        </li>
      </ul>
      <button id="add_member_field" type="button" onclick="insertThisChild(this)">전문분야 추가</button>
    </div>
    <div>
      <h5>경력사항</h5>
      <ul class="member_career">
        <li>
          <label for="member_career1">경력사항1</label>
          <input type="text" id="member_career1" required>
          <button type="button" class="member_career1_del">삭제</button>
        </li>
      </ul>
      <button id="add_member_career" type="button" onclick="insertThisChild(this)">경력사항 추가</button>
    </div>
    <div>
      <h5>연락처</h5>
      <div>
        <label for="member_contact_tel">TEL</label>
        <input type="text" required id="member_contact_tel" placeholder="02-1234-1234">
      </div>
      <div>
        <label for="member_contact_mail">MAIL</label>
        <input type="email" required id="member_contact_mail">
      </div>
    </div>
    <button id="submin_member_form" type="button" onclick="writeMember()">confirm</button>
  </form>
</section>

<!-- js -->
<script src="/js/admin/admin_introduce/admin_member.js"></script>