<!-- css -->
<link rel="stylesheet" href="/css/common/nav.css">
<link rel="stylesheet" href="/css/support/board_section.css">
<link rel="stylesheet" href="/css/common/table.css">

<!-- 네비게이션 -->
<nav class="navigation">
  <ul class="nav_container">
    <a href="#" class="current"><li><h6>자료실</h6></li></a>
    <a href="/view/common/not_ready.html"><li><h6>상담신청</h6></li></a>
  </ul>
</nav>

<section class="support_contents">
  <div class="board">
    <!-- 게시글들 -->
    <table>
      <tbody>
        <tr class="post" onclick="location.href='#'">
          <th class="post_number">1</th>
          <td class="post_title">제목제목제목</td>
          <td class="post_user">대일노무법인</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <button id="button_write_post" class="hidden button_admin">글쓰기</button>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="page_nation">
      <a href="#" class="first_page"><span>◁</span></a>
      <span class="pages"><a href="/view/support/support.html?page=1">1</a></span>
      <a href="#" class="last_page"><span>▷</span></a>
    </div>
  </div>
</section>

<!-- js -->
<script src="/js/support/board_firebase.js"></script>