<!-- summernote 사용을 위한 부트스트랩 -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<!-- css -->
<link rel="stylesheet" href="/css/admin/support/write_post.css">

<section>
  <div class="form_container">
    <form action="" method="post">
      <div class="post_title">
        <label for="post_title"><h5>글제목</h5></label>
        <input type="text" id="post_title" required>
      </div>
      <div class="post_attatchments">
        <label for="post_attatchments"><span>첨부파일</span></label>
        <input type="file" id="post_attatchments">
      </div>
      <textarea id="summernote" name="editordata" required></textarea>
      <div class="button_post_submit">
        <button id="button_post_submit" type="button">작성완료</button>
      </div>
    </form>
  </div>
</section>