@import "/css/common/reset.css";

.member.hidden{
  display: none;
}

.member{
  width: 100%;
}

.member_container.hidden{
  display: none;
}

.person_container.hidden{
  display: none;
}

.member_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.member_tag{
  display: flex;
}

.member_tag > a{
  display: block;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-left: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--logo-color);
}

.member_tag >a.current{
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.peaple_container{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  background-color: #fff;
}

.person_container{
  display: flex;
  width: 100%;
}

.person_picture{
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-gray);
}
.person_picture > img{
  width: 300px;
  height: 95%;
  background-color: #fff;
}

.person_information{
  width: 50%;
  margin-left: 20px;
}
.person_name{
  padding-bottom: 10px;
  border-bottom: 1px solid var(--logo-color);
}
.person_major,
.person_career,
.person_contact{
  margin: 10px 0;
}
.person_contact{
  margin-bottom: 0;
}

.person_information > div > ul{
  padding: 0 5px;
}

@media screen and (max-width: 1023px) {
  .member_container{
    margin-top: 20px;
  }
}