@import "/css/common/reset.css";

div.footer_nav_item_container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoImg{
  width: 160px;
}
div.logoImg>a>img{
  margin: auto;
  width: 100%;
  height: 100%;
}