@import "/css/common/reset.css";

.terms_container{
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  line-height: 1.5rem;
}

.terms_container > ul > li{
  margin-bottom: 20px;
  padding: 5px;
  background-color: #fff;
}

.terms_container > ul > li:first-child{
  padding: 0;
  background-color: var(--background-gray);
}

.terms_container > ul > li span{
  display: block;
  padding: 5px;
}

.terms_container > ul > li > ul{
  padding: 10px;
}

.terms_container > ul > li > ul > li{
  margin-bottom: 10px;
}

.terms_container > ul > li > ul > li div{
  padding: 5px;
}