.form_container{
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
}
.post_title, .post_title label, .post_title.h5{
  margin: 0; padding: 0;
}
.post_title{
  border-left: 5px solid #ddd;
}
.post_title h5{
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#post_title{
  width: calc(100% - 85px);
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
div.note-insert{
  display: none;
}

.post_attatchments{
  display: flex;
  align-items: baseline;
  border-left: 5px solid #ddd;
}
.post_attatchments span{
  display: inline-block;
  width: 80px;
  text-align: center;
}
.file_name{
  display: flex;
  width: 100%;
  align-items: baseline;
}
#file_name{
  display: block;
  max-width: 60%;
  width: auto;
}
.button_change_file{
  margin-left: 10px;
  margin-bottom: 5px;
}
.button_post_submit{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}