<!-- css -->
<link rel="stylesheet" href="/css/admin/admin_login.css">

<section class="admin_contents_container">
  <form action="#" method="post">
    <h5>로그인</h5>
    <div>
      <div>
        <label for="user_id"><h6>아이디</h6></label>
        <input type="email" name="user_id" id="user_id">
      </div>
      <div>
        <label for="user_password"><h6>비밀번호</h6></label>
        <input type="password" name="user_password" id="user_password">
      </div>
    </div>
    <button id="login_submit" type="button">로그인</button>
  </form>
</section>

<!-- js -->
<script src="/js/admin/admin_login/login.js"></script>