<!-- css -->
<link rel="stylesheet" href="/css/field/unpaid_main_section.css">
<link rel="stylesheet" href="/css/common/nav.css">
<link rel="stylesheet" href="/css/common/table.css">

<!-- 네비게이션 -->
<nav class="navigation">
  <ul class="nav_container">
    <a href="#" class="current"><li><h6>임금체불</h6></li></a>
    <a href="#"><li><h6>체당금</h6></li></a>
    <a href="#"><li><h6>산재보상</h6></li></a>
    <a href="#"><li><h6>부당해고</h6></li></a>
    <a href="#"><li><h6>인사노무자문</h6></li></a>
    <a href="#"><li><h6>노동조합/<br>노사관계</h6></li></a>
  </ul>
</nav>

<!-- 메인 섹션 -->
<section class="contents">
  <!-- 임금체불 -->
  <section class="field_section_container unpaid">
    <ul>
      <li class="statute">
        <h5>임금체불</h5>
        <div class="statute_context">
         <span>미지급 임금·퇴직금(체불임금)이란 일반적으로 임금의 지급 의무(근로기준법 제43조), 금품청산 의무(근로기준법 제36조) 및 퇴직금 지급의무(근로자퇴직급여 보장법 제 9조)를 위반한 것을 의미</span>
        </div>
      </li>
      <li class="remedy">
        <h5>구제방법</h5>
        <div class="remedy_context">
          <h6>진정·고소</h6>
          <span>필요시 사전상담 진행 후 진정 또는 고소 여부 결정 > 사업장소재지 관할 지방노동관서에 제기</span>
          <div>
            진정 : 밀린 임금을 받을 수 있도록 해달라는 요구<br>
            고소 : 사용자를 근로기준법 위반으로 처벌해 달라는 요구
          </div>
        </div>
      </li>
      <li class="process">
        <h5>진정·고소 절차</h5>
        <div class="process_img_container">
          <img src="/images/field/unpaid.gif" alt="이미지">
        </div>
      </li>
      <li class="note">
        <h5>참고사항</h5>
        <div class="note_context">
          <span>임금체불 사업주는 3년 이하의 징영 또는 2,000만원 이하의 벌금형을 받을 수 있다.</span>
          <div>
            사업주가 형사 처벌에도 불구하고 임금을 지급하지 않으면 근로자는 민사소송을 제기할 수 있다(지방노동관서에서 "체불인원 확인원"을 발급).
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- 체당금 -->
  <section class="field_section_container bankrupcy">
    <ul>
      <li class="statute">
        <h5>체당금</h5>
        <div class="statute_context">
          <span>기업이 도산하여 임금·휴업수당 및 퇴직금을 지급받지 못하고 퇴직한 근로자에게 국가가 사업주를 대신하여 체불금품 중 일정금액의 체당금(임금·휴업수당 및 퇴직금)을 지급하고, 국가는 근로자에게 지급된 체당금의 범위내에서 당해 근로자가 사업주가 대하여 가지고 있던 미지급 임금 등의 청구권을 대위하여 행사하는 제도</span>
        </div>
      </li>
      <li class="remedy">
        <h5>체당금 지급금액</h5>
        <div class="remedy_context">
          <div>
            <h6>체당금의 범위</h6>
            <span>최종 3개월 분의 임금·휴업수당 및 최종 3년간의 퇴직금 중 미지급 금액</span>
          </div>
          <div>
            <h6>체당금의 상한액</h6>
            <div>
              <span>◈일반체당금 상한액</span>
              <table class="table">
                <thead>
                  <tr>
                    <th>퇴직당시 연령/<br>체당금 종류</th>
                    <th>30세 미만</th>
                    <th>30세 이상<br>40세 미만</th>
                    <th>40세 이상<br>50세 미만</th>
                    <th>50세 이상<br>60세 미만</th>
                    <th>60세 이상</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>임금·퇴직금</th>
                    <td>220 만원</td>
                    <td>310 만원</td>
                    <td>350 만원</td>
                    <td>330 만원</td>
                    <td>230 만원</td>
                  </tr>
                  <tr>
                    <th>휴업수당</th>
                    <td>154 만원</td>
                    <td>217 만원</td>
                    <td>245 만원</td>
                    <td>231 만원</td>
                    <td>161 만원</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6">＊임금과 휴업수당은 1개월분, 퇴직금은 1년분 기준</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div>
              <span>◈소액체당금 상한액</span>
              <table class="table">
                <thead>
                  <tr>
                    <th>항목</th>
                    <th>상한액</th>
                  </tr>
                  <tbody>
                    <tr>
                      <th>임금·휴업수당</th>
                      <td>700 만원</td>
                    </tr>
                    <tr>
                      <th>퇴직급여 등</th>
                      <td>700 만원</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">＊총 상한액은 1,000 만원</td>
                    </tr>
                  </tfoot>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </li>
      <li class="note">
        <h5>체당금 청구기간 및 지급</h5>
        <div class="note_context">
          <div>
            <span>법원으로부터 파산선고 등이 있거나 지방노동관서로부터 도산 등 사실인정이 있는 날로부터 2년 이내에 지방노동관서장에게 청구</span>
          </div>
          <div>
            <span>체당금 지급대상 근로자 범위에 해당되는 경우에는 근로복지공단에서 체당금을 근로자의 계좌에 입금</span>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- 산재보상 -->
  <section class="field_section_container industrial_accident">
    <ul>
      <li class="statute">
        <h5>산재보상</h5>
        <div class="statute_context">
          <h6>산업재해란</h6>
          <span>업무상의 사유에 따른 근로자의 부상, 질병, 장해 또는 사망을 의미</span>
        </div>
      </li>
      <li class="process">
        <h5>구제절차</h5>
        <div class="process_img_container">
          <img src="/images/field/industrial_accident.gif" alt="이미지">
          <ul class="industrial_accident_context">
            <li><h6>&nbsp;&nbsp;1) 최초요양신청</h6>
              <span>업무상 사유에 의해 부상 또는 질병에 걸려 4일 이상 치료가 필요한 경우 최초 요양신청을 하여 업무상 재해로 승인을 받아야 한다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;2) 전원신청</h6>
              <span>연고지 또는 수술 및 기타 사정으로 인해 부득이하게 의료기관을 옮기고자 하는 경우 전원신청을 할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;3) 요양연기신청</h6>
              <span>주치의의 소견상 치료의 연장이 필요한 경우 요양연기신청서를 작성하여 치료의 연장을 요구할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;4) 추가상병신청</h6>
              <span>업무상 사고 후 새로운 상병이 발견되거나, 혹은 최초요양신청 당시 상병명이 누락된 경우 추가상병신청을 통해 추가상병명을 승인 받을 수 있으며, 이는 추후 장해보상청구 및 요양연기신청에 있어 중요한 절차라 할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;5) 요양비청구</h6>
              <span>업무상 사고로 인하여 본인부담치료비, 간병료, 이송료, 보조기대, MRI 및 기타 이에 준하는 비용이 발생된 경우 요양비 청구를 통해 수령할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;6) 휴업급여청구</h6>
              <span>요양으로 인하여 추업하지 못한 기간에 대해 평균임금의 70%를 휴업급여로 청구할 수 있다.<br>
              ※최초휴업급여청구의 경우 평균임금산정은 휴업급여 뿐만 아니라 추후 장해가 발생되는 경우 장해보상청구금액에 매우 중요한 요소가 되는 바, 전문가와 상담 후 신청하는 것이 좋다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;7) 상병보상연금청구</h6>
              <span>요양급여를 받는 근로자가 요양개시 후 2년이 경과된 날 이후에도 당해 부상 또는 질병이 치유되지 아니한 상태에 있고, 그 부상 또는 질병에 의한 폐질의 정도가 제1급에서 제3급에 해당되는 자에게는 휴업급여 대신 상병보상연금을 청구할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;8) 평균임금증감</h6>
              <span>근로자가 소속된 사업장에서 동일직종에 종사하는 근로자들의 통상임금이 변경되거나, 사업의 휴/폐업 및 기타 부득이한 사유가 있을 때에는 평균임금의 증감 신청을 할 수 있다.</span>
            </li>
            <li><h6>&nbsp;&nbsp;9) 장해보상</h6>
              <span>요양치료후 증세가 고정되어 더 이상의 치료개선의 효과가 없는 경우 당해 상병명으로 인한 장해 상태가 산업재해보상보험법상 장해보상 기준에 해당되면 장해보상급여를 청구할 수 있다.</span>
              <!-- 장해보상/장해급여표 표 -->
              <div class="disability_benefit_table">
                <h6>장해급여표(제57조 제2항 관련)</h6>
                <table>
                  <thead>
                    <tr>
                      <th>장해등급</th>
                      <th>장해보상연금</th>
                      <th>장해보상일시금</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>제1급</th>
                      <td>329 일분</td>
                      <td>1,474 일분</td>
                    </tr>
                    <tr>
                      <th>제2급</th>
                      <td>291 일분</td>
                      <td>1,309 일분</td>
                    </tr>
                    <tr>
                      <th>제3급</th>
                      <td>257 일분</td>
                      <td>1,155 일분</td>
                    </tr>
                    <tr>
                      <th>제4급</th>
                      <td>224 일분</td>
                      <td>1,012 일분</td>
                    </tr>
                    <tr>
                      <th>제5급</th>
                      <td>193 일분</td>
                      <td>869 일분</td>
                    </tr>
                    <tr>
                      <th>제6급</th>
                      <td>164 일분</td>
                      <td>737 일분</td>
                    </tr>
                    <tr>
                      <th>제7급</th>
                      <td>138 일분</td>
                      <td>616 일분</td>
                    </tr>
                    <tr>
                      <th>제8급</th>
                      <td></td>
                      <td>495 일분</td>
                    </tr>
                    <tr>
                      <th>제9급</th>
                      <td></td>
                      <td>385 일분</td>
                    </tr>
                    <tr>
                      <th>제10급</th>
                      <td></td>
                      <td>297 일분</td>
                    </tr>
                    <tr>
                      <th>제11급</th>
                      <td></td>
                      <td>220 일분</td>
                    </tr>
                    <tr>
                      <th>제12급</th>
                      <td></td>
                      <td>154 일분</td>
                    </tr>
                    <tr>
                      <th>제13급</th>
                      <td></td>
                      <td>99일분</td>
                    </tr>
                    <tr>
                      <th>제14급</th>
                      <td></td>
                      <td>55일분</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">＊평균임금기준</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </li>
            <li><h6>10) 간병급여</h6>
              <span>치유 후 의학적으로 상시 또는 수시간병이 필요한 경우 간병이 실제로 이루어진 날에 대하여 월단위로 지급한다.<br>
                ※재요양기간중에는 지급하지 아니하며, 간병료로 청구하여야 한다.</span>
            </li>
            <li><h6>11) 유족급여</h6>
              <span>근로자가 업무상 사유에 의하여 사망한 경우 유족급여는 연금으로 지급하고, 연금수급자격자가 없는 경우와 수급권자가 외국에 거주하는 경우에 한하여 일시금으로 제공한다.</span>
              <div class="bereaved_familys_pension_table">
                <h6>유족연금표</h6>
                <table>
                  <thead>
                    <tr>
                      <th>유족급여의 종류</th>
                      <th>내용</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>유족연금액</th>
                      <td>1)기본금액 + 2)가산금액</td>
                    </tr>
                    <tr>
                      <th>1)기본금액</th>
                      <td>급여기초연액(평균임금*365)의 47%</td>
                    </tr>
                    <tr>
                      <th>2)가산금액</th>
                      <td><span class="td_context">유족보상연금 수급권자 및 그가 부양중인 유족보상연금 수급자격자 1인당 급여기초연액의 5%<br>
                        ※단, 가산금액의 합산금액이 급여기초연액의 20%를 넘을 수 없다(최대 4인까지 가산).</span></td>
                    </tr>
                    <tr>
                      <th>유족보상일시금</th>
                      <td>평균임금의 1,300 일분</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li><h6>12) 장의비 청구</h6>
              <span>장의비는 장제를 실행하는 자의 청구에 의하여 평균임금의 120 일분을 지급하며, 산정된 장의비가 노동부장관이 고시하는 최고금액을 초과하거나 최저금액에 미달하는 경우, 그 최고금액 또는 최저금액을 장의비로 지급한다.</span>
            </li>
            <li><h6>13) 심사, 재심사 청구 및 행정소송</h6>
              <div class="industrial_accident_litigation_table">
                <table>
                  <thead>
                    <tr>
                      <th>구분</th>
                      <th>내용</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>심사청구</th>
                      <td><span class="td_context">근로복지공단에서 행한 각종 보험급여의 불승인 결정에 관하여 불복이 있는 자는 심사청구를 제기할 수 있다. 불승인 결정이 있음을 안 날로부터 90일 이내에 행해야 하며, 당해 보험급여에 관한 결정을 행한 공단의 소속기관을 거쳐 공단본부에 제기해야 한다.</span></td>
                    </tr>
                    <tr>
                      <th>재심사청구</th>
                      <td><span class="td_context">심사청구에 대한 결정에 불복이 있는 경우 그에 대하여 재심사 청구를 할 수 있다. 심사청구에 대한 결정이 있음을 안 날로부터 90일 이내에 재심사청구를 행해야 하며, 당해 사건에 관한 심사청구에 대하여 결정을 행한 공단의 소속기관을 거쳐서 산업재해보상보험심사위원회에 제기해야 한다.</span></td>
                    </tr>
                    <tr>
                      <th>행정소송</th>
                      <td><span class="td_context">근로복지공단에서 행한 각종 보험급여에 관한 결정이 있는 자는 심사·재심사 청구를 거치거나 곧바로 근로복지공단을 피고로 하여 행정소송을 제기할 수 있다. 처분이 있음을 안 날로부터 90일 이내에 제기해야 하며, 심사 재심사청구를 제기한 경우에는 재결의 통지를 받은 날로부터 90일 이내에 제기해야 한다.</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </section>

  <!-- 부당해고 -->
  <section class="field_section_container unfair_dismissal">
    <ul>
      <li class="statute">
        <h5>부당해고</h5>
        <div class="statute_context">
          <span>근로기준법 제23조(해고 등의 제한) 및 제24조(경영상 이유에 의한 해고의 제한)에 의거하여 사용자가 근로자를 정당한 이유 없이 해고하는 경우 근로자는 노동위원회에 구제를 신청할 수 있다(근로기준법 제28조제1항).</span>
        </div>
      </li>
      <li class="process">
        <h5>구제절차</h5>
        <div class="process_img_container">
          <img src="/images/field/unfair_dismissal.jpg" alt="이미지">
        </div>
      </li>
    </ul>
  </section>

  <!-- 인사노무자문 -->
  <section class="field_section_container advice">
    <ul>
      <li class="statute">
        <h5>인사노무자문</h5>
        <div class="statute_context">
          <h6>인사노무자문이란</h6>
          <span>인사관리, 노무관리, 노사관계, 복지후생 등 인사·노무·총무 부서 업무의 전반에 걸쳐 인사관리 및 노동법률 전문가인 공인노무사의 상시적 자문을 받는 계약.</span>
          <h6>기업자문의 필요성</h6>
          <span>합리적인 제도설정을 위한 조언, 노동법 기준에 대한 검토 등 효율적 인사노무관리의 동반자 역할을 통하여, 노사간에 야기될 수 있는 갈등을 사전에 예방하고, 분쟁 또는 사건 발생 시 효율적인 처리방안을 수립할 수 있어 합리적이고 효율적인 인사노무관리를 할 수 있다.</span>
        </div>
      </li>
      <li class="remedy">
        <h5>자문 영역</h5>
        <div class="remedy_context">
          <table class="advide_context_table">
            <thead>
              <tr>
                <th>자문 영역</th>
                <th>내용</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>인사관리 자문</th>
                <td><span class="td_context">
                  －인사제도에 대한 진단<br>
                  －채용, 교육윤현, 평가, 보상, 승진 등 인사관리 전반에 관한 자문<br>
                  －인사제도 관련 정보 및 자료 제공<br>
                  －인사발령 및 인사운영에 대한 법적 검토
                </span></td>
              </tr>
              <tr>
                <th>노동법률 자문</th>
                <td><span class="td_context">
                  －노무관리 현황(근로시간, 임금체계 등)에 대한 검토 및 개선안 수립<br>
                  －취업규칙 및 각종 회사규정의 작성과 적법성 검토<br>
                  －최신 노동법령, 지원제도 등에 대한 자료 제공 및 교육<br>
                  －노동관계법령에 대한 해석 및 질의 회신
                </span></td>
              </tr>
              <tr>
                <th>노사관계 자문</th>
                <td><span class="td_context">
                  －노사협의회 운영 지원<br>
                  －노사분규의 예방을 위한 상담 및 지도<br>
                  －단체교섭 및 단체협약의 체결 및 적용에 관한 자문과 지원<br>
                  －노동쟁의 행위에 해결방안 및 조정중재<br>
                  －합리적인 노사관계 구출을 위한 지원
                </span></td>
              </tr>
              <tr>
                <th>HR 컨설팅(프로젝트)</th>
                <td><span class="td_context">
                  －보상체계 : 각종 임금제도의 효율적 운용지원<br>
                  －인사고과 : 평가시스템 설계 및 적합성 검토<br>
                  －목표관리 : 목표항목 및 기준의 적합성 검토와 목표설정 프로세스 지원<br>
                  －직급제도 : 직급과 직위 분리운용 지원으로 인사적체 해소 방안 강구<br>
                  －승진·승격 : 승진·승격 기준의 적합성 검토 및 지원<br>
                  －교육훈련 : 교육·연수의 기획, 책정 및 운용 지원
                </span></td>
              </tr>
              <tr>
                <th>인사노무 교육 및 강의</th>
                <td><span class="td_context">
                  －개별기업/주문형 교육(직장 내 성희롱 예방 교육, 산업안전보건법상 안전교육 등)<br>
                  －노동조합 및 노동단체 교육<br>
                  －인사관리/전문가 교육(조직관리기법 교육, 임금체계 관리 교육 등)<br>
                  －노무관리/전문가 교육(노동법 실무, 비정규직 근로자의 노무관리 교육 등)
                </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </section>

  <!-- 노동조합/노사관계 -->
  <section class="field_section_container labor_union">
    <ul>
      <li class="statute">
        <h5>노동조합/노사관계</h5>
        <div class="statute_context">
         <span>급변하는 기업환경 속에서 노사의 공동성장을 위한 참여와 협력의 파트너쉽 구축을 위해 사업장의 노사관계를 중심으로 노무관리에 대한 체계적인 분석을 바탕으로 갈등과 분쟁의 요인이 될 수 있는 문제점을 파악하고 그 개선방안을 제시함으로써, 노사분쟁에 대한 예방적 기능을 수행하는 동시에 수립된 개선방안의 시행과 시행결과의 피드백까지 관여함으로써 노사관계에 대한 종합적 진단기능을 수행할 수 있다.</span>
        </div>
        <h5>컨설팅/교육의 필요성</h5>
        <div class="labor_union_context_table">
          <table>
            <thead>
              <tr>
                <th>구분</th>
                <th colspan="2">내용</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>효과</th>
                <td>
                  <h6>사용자</h6>
                  <span class="td_context">
                    －인사/노무관리 문제점의 발견 및 파악<br>
                    －경영의 효율화를 통한 생산성 향상<br>
                    －건전한 노사관계의 정립을 통한 노사분규 예방<br>
                    －임금관리의 효율화
                  </span>
                </td>
                <td>
                  <h6>근로자</h6>
                  <span class="td_context">
                    －근무중인 기업에 대한 객관적 이해<br>
                    －근로자의 불만해소 및 참여의식, 동반자의식 고취<br>
                    －노사 공존 공영을 통한 경쟁력 강화
                  </span>
                </td>
              </tr>
              <tr>
                <th>컨설팅 내용</th>
                <td colspan="2"><span class="td_context">
                  －조직문화 및 인간관계 부문(기업문화, 인간관계 및 의사소통, 갈등 및 스트레스 요인 등)<br>
                  －개별적 근로저건 부문(근로시간과 휴일제도, 임근제도, 복리후생제도, 인사제도 등)<br>
                  －집단적 노사관계 부문(노사관계의 당사자 분석, 단체교섭 및 노동쟁의 조정 시스템 등)<br>
                  －기타 노사 당사자의 요구사항(노사간의 현안 문제 중심)
                </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="remedy">
        <h5>지원 프로그램</h5>
        <div class="remedy_context">
          <div>
            <h6>단체교섭지원</h6>
            <ul><h6>지원 내용</h6>
              <li>1)매년 수행되는 임금교섭 시 합리적인 안을 마련할 수 있도록 자문하고 단체협약안을 작성 및 검토합니다.</li>
              <li>2)노사간 합의된 임단협을 체결하는 과정을 지원 또는 위임 수행하여 법률적 측면에서의 문제점과 리스크를 제거합니다.</li>
              <li>3)기체결된 단체협약의 내용을 검토하여 기업의 실정에 맞는 합리적 단체협약을 준비할 수 있도록 수정/보완책을 제시합니다.</li>
              <li>4)신생노조 대응 및 교착상태에 놓여진 사업장의 임금협약 및 단체협약의 체결을 위한 단체교섭권한을 위임받아 수행해 노사관계의 조기 안정화에 기여합니다.</li>
              <li>5)단체협약 내용 중 상호 이견에 대한 합리적인 해석을 제공하고 노동위원회에 유권해석 요청을 대행합니다.</li>
              <li>6)단체교섭 및 단체협약과 관련 있는 행정관청의 업무를 지원하거나 위임받아 수행합니다.</li>
              <li>7)단체교섭 및 단체협약과 관련하여 발생할 수 있는 부당노동행위에 대한 법률적 검토를 선행해 사업주의 법규 위반 가능성을 제거합니다.</li>
              <li>8)단체교섭에 대한 기본인식을 확고히 하는 교육을 실시합니다.</li>
            </ul>
          </div>
          <div class="labor_dispute_table">
            <h6>노동쟁의 조정</h6>
            <table>
              <thead>
                <tr>
                  <th>분류</th>
                  <th>내용</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>노동쟁의 조정</th>
                  <td><span class="td_context">
                    노동쟁의 조정은 근로저건 등의 결정에 관하여 노사간의 주장의 불일치로 발생한 분쟁을 제3자가 조정하여 타결에 이르도록 하는 제도입니다.
                  </span></td>
                </tr>
                <tr>
                  <th>사적 조정</th>
                  <td><span class="td_context">
                    사적 조정이란 일반적인 노사분쟁(임금협상, 단협체결 등)에 있어서 제3의 조정자를 주체로 양자간의 의견을 듣고 서로의 문제점을 해결하고 조정안을 제시하고 수락하게 하는 것입니다.<br>
                    조정을 통해 노조는 실체적 지위인정, 사용자는 노사안정을 통한 경쟁력 향상의 효과가 있습니다.
                  </span></td>
                </tr>
                <tr>
                  <th>사적 중재</th>
                  <td><span class="td_context">
                    사적 중재란 상호 합의 또는 단체 협약의 규정에 따라 중재인을 선임하고, 중재인이 절차에 따라 내린 중재판정에 당사자들이 따라야 하는 조정을 말합니다.<br>
                    사적 중재는 극한의 대립 또는 장기적인 쟁의 상태를 조속히 해결하고자 하는 경우에 유리합니다.
                  </span></td>
                </tr>
                <tr>
                  <th>쟁의행위<br>대응지원</th>
                  <td><span class="td_context">
                    노동쟁의란 노동조합의 주장을 관철하기 위해 업무의 정상적 운영을 저해하는 행위로, 노사간 평화적 협상이 결렬될 경우 돌입할 수 있습니다.<br>
                    파업, 피켓팅, 준법투쟁 등 다양한 노동쟁의에 대한 대응방향을 제시합니다.
                  </span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <h6>노사협의회 지원</h6>
            <span>최근 열린경영을 통한 노사동반자 관계 형성은 노사 모두의 생존과 번영의 관건이 되고 있으며, 국내외 기업들은 노사협의회 실현으로 기업의 경쟁력 향상과 근로자의 고용안정을 추구하고 있습니다.</span>
            <h6>노사협의회와 단체교섭의 차이점</h6>
            <table>
              <thead>
                <tr>
                  <th>구분</th>
                  <th>노사협의회</th>
                  <th>단체교섭</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>목적</th>
                  <td><span class="td_context">생산성 향상과 근로자 복지 증진 등<br>노사 공동의 이익 증진</span></td>
                  <td><span class="td_context">근로조건의 유지·개선</span></td>
                </tr>
                <tr>
                  <th>배경</th>
                  <td><span class="td_context">노조의 조직 여부와 관계없음<br>쟁의 행위를 수반하지 않음</span></td>
                  <td><span class="td_context">노조가 있음을 전제로 함<br>교섭 격렬 시 쟁의행위 가능</span></td>
                </tr>
                <tr>
                  <th>당사자</th>
                  <td><span class="td_context">근로자위원과 사용자위원</span></td>
                  <td><span class="td_context">노동조합과 사용자(사용자 단체)</span></td>
                </tr>
                <tr>
                  <th>과정</th>
                  <td><span class="td_context">사용자의 기업경영상황 보고<br>안건에 대한 노사간 협의 의결</span></td>
                  <td><span class="td_context">단체교섭이 타결되면 협약체결</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">＊위와 같은 차이는 이념형적인 구분이며, 현실적으로는 목적이나 대상이 중복되는 부분이 많음</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>

<!-- js -->
<script src="/js/field/field_main.js"></script>