<!-- css -->
<link rel="stylesheet" href="/css/common/footer.css">

<div class="footer_container">
  <ul class="footer_nav_container">
    <li class="footer_nav_item"><a href="/view/introduce/introduce.html?page=map">찾아오시는길</a></li>
    <li class="footer_nav_item"><a href="/view/common/terms.html">이용약관</a></li>
    <li class="footer_nav_item"><a href="/view/common/privacy_terms.html">개인정보보호정책</a></li>
    <li class="footer_nav_item"><a href="/view/common/refuse.html">이메일주소무단수집거부</a></li>
    <li class="footer_nav_item footer_nav_item_admin_login"><a href="/view/admin/common/admin_login.html">관리자 로그인</a></li>
  </ul>
  <div class="footer_text">
    <span>우)07256&nbsp;&nbsp;서울 영등포구 당산로 133, 301호(당산동 3가, 서림빌딩)</span>
    <span>사업자번호 107-87-11978</span>
    <span>대표자 손강용</span>
    <span>대표번호 02-507-6161</span>
    <span>팩스번호 02-307-6161</span>
    <div>
      <span>Copyright ⓒ 2008 대일노무법인 All rights reserved</span>
    </div>
  </div>
</div>